body {
  font-family: Arial;
  background: #f0f2f5;
  text-align: center;
}

input, button, select {
  padding: 8px;
  margin: 5px;
}

#chatBox {
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 10px auto;
  overflow-y: auto;
  background: white;
  padding: 10px;
}

.hidden {
  display: none;
}

.me {
  text-align: right;
  color: blue;
}

.other {
  text-align: left;
  color: green;
}
